openapi: 3.0.2
info:
  version: 1.0.0
  title: Verify
  contact:
    email: eng@wirescure.com
    name: WireSecure Engineering
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://raw.githubusercontent.com/wiresecure/verify-api/main/openapi/web/logo.png'
  description: |
    The WireSecure verification API allows you to create requests for verified wire instructions and retrieve the results of those requests.
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
servers:
  - url: 'https://verify-api.wiresecure.com'
    description: PRODUCTION
  - url: 'https://verify-api-sandbox.wiresecure.com'
    description: SANDBOX
paths:
  '/verify/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The verification request to retrieve
    post:
      summary: Create a verification request
      operationId: post-verify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: This is the ID you'll use to pull the results of this verification request and the verified instructions.
                  verificationLink:
                    type: string
                    description: The URL to use for verification.
                required:
                  - id
                  - verificationLink
      description: Create a request for wire instructions.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                emailAddress:
                  type: string
                phoneNumber:
                  type: string
                metadata:
                  type: object
                  description: This metadata will be returned back when retrieving this verification is unused by WireSecure. It can be any valid JSON object.
                instructions:
                  type: object
                  description: 'If instructions are provided, the user will just be asked to confirm them. No government ID verification will be requested, just mobile verification.'
                  properties:
                    bankCode:
                      type: string
                    accountName:
                      type: string
                    accountNumber:
                      type: string
                    ffc:
                      type: string
                    intermediaryBankCode:
                      type: string
                    intermediaryAccountNumber:
                      type: string
              required:
                - name
                - emailAddress
            examples:
              example-1:
                value: {}
        description: This endpoint will generate an `instructions request` in the WireSecure system and return a link you can send to a user to verify and collect their wire instructions.
    get:
      summary: ''
      operationId: get-verify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  providedBy:
                    type: object
                  confirmedBy:
                    type: object
                  instructions:
                    type: object
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
security:
  - api_key: []
tags:
  - name: Verify
