openapi: 3.0.2
info:
  version: v1.0.0
  title: WireSecure
  contact:
    email: eng@wirescure.com
    name: WireSecure Engineering
  x-logo:
    url: 'https://raw.githubusercontent.com/wiresecure/verify-api/main/openapi/web/logo.png'
  description: The WireSecure API allows you to create verification links that validate the identity of the person providing information (like Bank Instructions).
  termsOfService: 'https://www.wiresecure.com/terms-and-conditions/'
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
servers:
  - url: 'https://carnival.wiresecure.com/api/v1'
    description: PRODUCTION
  - url: 'https://carnival-demo.wiresecure.com/api/v1'
    description: DEMO
  - url: 'https://carnival-sandbox.wiresecure.com/api/v1'
    description: SANDBOX
paths:
  /verify_request:
    put:
      summary: Create Verification Request
      operationId: put-verify_request
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    verify_link: 'http://localhost:3000/verify/7nuyshQQUZs9PQur'
                    verify_request_id: 7nuyshQQUZs9PQur
                properties:
                  verify_link:
                    type: string
                    minLength: 1
                    description: The link to be used for verification and confirmation of items
                    example: 'https://carnival-demo.wiresecure.com/verify/7nuyshQQUZs9PQur'
                  verify_request_id:
                    type: string
                    minLength: 1
                    description: The ID of the created verification request
                    example: 7nuyshQQUZs9PQur
                required:
                  - verify_link
                  - verify_request_id
        '401':
          description: unknown API key
      description: Creates a Verification Request. This endpoint allows you to define what items you would like the representative to confirm after ID verification has been performed.
      security:
        - API Key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVerificationRequest'
    get:
      summary: ''
      operationId: get-verify_request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - origin
                    - createdAt
                    - updatedAt
                    - name
                    - email
                    - phone
                    - status
                    - items
                    - numFlags
                    - verifiedBy
                  properties:
                    id:
                      type: string
                      minLength: 1
                    origin:
                      type: string
                      minLength: 1
                    createdAt:
                      type: string
                      minLength: 1
                    updatedAt:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
                    email:
                      type: string
                      minLength: 1
                    phone:
                      type: string
                      minLength: 1
                    status:
                      type: string
                      minLength: 1
                    items:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - type
                          - status
                        properties:
                          id:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                          status:
                            type: string
                            minLength: 1
                    numFlags:
                      type: number
                    verifiedBy:
                      type: string
                      minLength: 1
                x-examples:
                  example-1:
                    - id: 7nuyshQQUZs9PQur
                      origin: outlook
                      createdAt: '2022-04-11T15:08:35.685081-04:00'
                      updatedAt: '2022-04-11T15:08:35.685081-04:00'
                      name: Brian Starke
                      email: brian.starke@gmail.com
                      phone: '+19174145090'
                      status: pending
                      items:
                        - id: DJDR9z8N
                          type: instructions
                          status: pending
                    - id: xwp9GP4KrhFRA56j
                      origin: console
                      createdAt: '2022-04-06T11:49:09.654549-04:00'
                      updatedAt: '2022-04-06T11:49:35.632786-04:00'
                      name: Tom Person
                      email: tom.person@test.test
                      phone: '+19174145092'
                      status: verified
                      items:
                        - id: mpSJQ83f
                          type: email
                          status: confirmed
                      numFlags: 1
                      verifiedBy: TOM PERSON
                    - id: z69aKxRq8Y8CgBQS
                      origin: console
                      createdAt: '2022-04-06T11:32:28.986797-04:00'
                      updatedAt: '2022-04-06T11:41:00.716833-04:00'
                      name: Brian Starke
                      email: brian.starke+test@gmail.com
                      phone: '+19174145090'
                      status: verified
                      items:
                        - id: wzSSGXah
                          type: email
                          status: confirmed
                      numFlags: 1
                      verifiedBy: BRIAN STARKE
                    - id: WY6eh7BQjuwBY26V
                      origin: console
                      createdAt: '2022-04-06T11:29:07.889972-04:00'
                      updatedAt: '2022-04-06T11:30:21.781295-04:00'
                      name: Brian Starke
                      email: brian.starke@gmail.com
                      phone: '+19174145090'
                      status: verified
                      items:
                        - id: 3fb8BQu8
                          type: instructions
                          status: confirmed
                      numFlags: 1
                      verifiedBy: BRIAN STARKE
      description: List all verification requests created by this API token.
components:
  securitySchemes:
    API Key:
      type: apiKey
      in: header
      name: x-api-key
      description: The api key provided to you by WireSecure. This is required on all requests and is safe to use from browser based calls.
    Secret Key:
      name: x-secret-key
      type: apiKey
      in: header
      description: 'The secret key is not intended for use in browser side code, this (combined with the API key) is intended to be used by back end processes to retrieve data.'
  schemas:
    Verification:
      description: ''
      type: object
      x-examples:
        example-1:
          name: Ali Someperson
          legal_name: ALLISON KATHRYN SOMEPERSON
          email_address: alice@familyoffice.com
          phone_number: '+12125551212'
          status: PASSED
          at: '2021-07-28 18:15 EST'
          from: 'New York, NY USA'
          verification_details:
            mobile_provided: true
            mobile_risk_score: 0.12
            id_provided: true
            id_risk_score: 0.08
            name_match: 0.92
            flags: []
      properties:
        name:
          type: string
          description: The name of the party who was expected to go through this verification
          example: John Smith
        legal_name:
          type: string
          description: The name as it appears on this person's government issued ID
          example: JONATHAN WINGATE SMITH
        email_address:
          type: string
          description: The email address that was provided to us for this individual
        phone_number:
          type: string
          description: 'The E164 compliant phone number for this individual, provided by the individual during verification'
          example: '+12125551234'
        status:
          type: string
          enum:
            - PASSED
            - PENDING
            - FAILED
          description: The current status of this verification.
        at:
          type: string
          description: The timestamp of when this verification occurred
        from:
          type: string
          description: Coarse location information for where this verification occured
          example: 'Red Bank, NJ USA'
        verification_details:
          type: object
          required:
            - mobile_provided
            - id_provided
          properties:
            mobile_provided:
              type: boolean
              description: Indicates if a mobile number was provided for verification
            mobile_risk_score:
              type: number
              minimum: 0
              maximum: 1
              description: 'If a mobile number was provided for verification, this is the risk assessment of that number (lower is better).'
            id_provided:
              type: boolean
              description: Indicates whether or not an ID was evaluated during the course of this verification
            id_risk_score:
              type: number
              minimum: 0
              maximum: 1
              description: 'If a government issued ID was provided for verification, this is the risk assessment of that evaluation (lower is better).'
            name_match:
              type: number
              description: A measure of how closely the name provided matched the name on the individuals government issued ID
              minimum: 0
              maximum: 1
              example: 0.89
            flags:
              type: array
              description: An optional list of flags that were triggered during the verification
              items:
                type: string
                example: Phone number is not associated with this individual
      required:
        - name
        - email_address
        - phone_number
        - status
        - at
        - from
        - verification_details
    MemberOptions:
      description: Parameters to customize the handling of member verifications.
      type: object
      x-examples:
        example-1:
          verifyConfirm: true
          updatesWebhook: 'https://webhooks.test/member_updates'
      properties:
        verifyConfirm:
          type: boolean
          default: false
        updatesWebhook:
          type: string
          minLength: 1
          example: 'https://webhooks.test/member_updates'
    CreateVerificationRequest:
      description: 'Defines the items to confirmed by the specified representative. If you don''t have bank instructions and want them to be provided, leave the `data` field of the `item` object null. If you already have the instructions and just want them to be confirmed they can be provided here in the `data` field of the `item`.'
      type: object
      x-examples:
        Request Bank Instructions:
          rep:
            name: Ellen Someperson
            emailAddress: ellen.someperson@acme.test
            phoneNumber: '+12125551234'
          items:
            - type: instructions
          metadata:
            internal_id: mock-123
      properties:
        rep:
          type: object
          description: The rep is the individual representing the items to be confirmed.
          required:
            - name
            - emailAddress
          properties:
            name:
              type: string
              example: Ellen Someperson
              description: |-
                The name of the individual representing the items to be confirmed. This will be evaluated against the information on their Gov't 
                Issued ID.
            emailAddress:
              type: string
              description: 'The email address of the representative, will be evaluated to ensure it''s associated with the individual who has provided a Gov''t Issued ID.'
              example: ellen.someperson@acme.test
            phoneNumber:
              type: string
              format: E.164
              example: '+12125551234'
              description: 'Provide a mobile number for the rep if you have one. Must be in E.164 format (https://en.wikipedia.org/wiki/E.164)'
        items:
          type: array
          uniqueItems: true
          minItems: 1
          description: The items the representative is being asked to confirm.
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - instructions
                  - email
                example: instructions
              data:
                anyOf:
                  - $ref: '#/components/schemas/BankInstructionsItemRequest'
                  - $ref: '#/components/schemas/EmailItemRequest'
            required:
              - type
        metadata:
          type: object
          description: Any arbitrary JSON object to be returned with this verification request
        webhookUrl:
          type: string
          description: 'If a webhook URL is provided, it will be POSTed to when this verification request is updated.'
      required:
        - rep
        - items
    BankInstructionsItemRequest:
      title: Bank Instructions
      type: object
      description: Bank Instructions to be confirmed.
      x-examples:
        Full instructions with Intermediary bank:
          bankId: ax45HgfK3
          accountNumber: '0192830983123'
          nameOnAccount: BOB L OTHERPERSON
          beneficiaryAddress: '78 FERGUSON AVE., BURLINGTON VT 05401'
          ffc: TX-343452 ACCT 4083424093284234
          intermediaryBankId: bh6jJ43k
          intermediaryBankAccount: '03980219830'
        Minimal instructions:
          bankId: ax45HgfK3
          accountNumber: '132891273'
          nameOnAccount: BOB L OTHERPERSON
      properties:
        bankId:
          type: string
          description: Bank ID retrieved from the bank details API
          example: ax45HgfK3
        accountNumber:
          type: string
          description: The account number at the specified bank
          example: '0123456789'
        nameOnAccount:
          type: string
          description: The name exactly as it appears on the account
          example: ROBERT LAWRENCE OTHERPERSON
        beneficiaryAddress:
          type: string
          example: '3624 Dauphine St, New Orleans, LA 70117'
          description: 'Currently optional although this might change. The address of the person receiving funds, NOT the address of the bank.'
        ffc:
          type: string
          description: Optional For Further Credit information
          example: 'TRUST ACCT #3450983908'
        intermediaryBankId:
          type: string
          description: Bank ID retrieved from the bank details API
          example: ax45HgfK3
        intermediaryBankAccount:
          type: string
          description: The account number at the specifed bank
          example: '0123456789'
      required:
        - bankId
        - accountNumber
        - nameOnAccount
    EmailItemRequest:
      title: Email Authorship
      type: object
      properties:
        senderEmailAddress:
          type: string
          description: 'If left blank, the system will populate this with the email address of the rep'
        subject:
          type: string
          description: The subject line of the email that is to be confirmed
      required:
        - subject
      x-examples:
        Email confirmation:
          senderEmailAddress: bob.otherperson@acme.test
          subject: 'Running late, please pay this invoice for me'
      description: Verify that the person who sent an email with this subject is who they are supposed to be.
  examples: {}
security:
  - api_key: []
tags:
  - name: Verification Requests
    description: Create and retrieve verification requests
