openapi: 3.0.2
info:
  version: 1.0.0-beta
  title: WireSecure
  contact:
    email: eng@wirescure.com
    name: WireSecure Engineering
  x-logo:
    url: 'https://raw.githubusercontent.com/wiresecure/verify-api/main/openapi/web/logo.png'
  description: The WireSecure API allows you to create verification links that validate the identity of the person providing information (like Bank Instructions).
  termsOfService: 'https://www.wiresecure.com/terms-and-conditions/'
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
servers:
  - url: 'https://carnival.wiresecure.com/api/v1'
    description: PRODUCTION
  - url: 'https://carnival-demo.wiresecure.com/api/v1'
    description: DEMO
  - url: 'https://carnival-sandbox.wiresecure.com/api/v1'
    description: SANDBOX
paths:
  /verify_request:
    put:
      summary: Create Verification Request
      operationId: put-verify_request
      responses:
        '200':
          description: OK
      description: Creates a Verification Request. This endpoint allows you to define what items you would like the representative to confirm after ID verification has been performed.
      security:
        - API Key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVerificationRequest'
components:
  securitySchemes:
    API Key:
      type: apiKey
      in: header
      name: x-api-key
      description: The api key provided to you by WireSecure. This is required on all requests and is safe to use from browser based calls.
    Secret Key:
      name: x-secret-key
      type: apiKey
      in: header
      description: 'The secret key is not intended for use in browser side code, this (combined with the API key) is intended to be used by back end processes to retrieve data.'
  schemas:
    Verification:
      description: ''
      type: object
      x-examples:
        example-1:
          name: Ali Someperson
          legal_name: ALLISON KATHRYN SOMEPERSON
          email_address: alice@familyoffice.com
          phone_number: '+12125551212'
          status: PASSED
          at: '2021-07-28 18:15 EST'
          from: 'New York, NY USA'
          verification_details:
            mobile_provided: true
            mobile_risk_score: 0.12
            id_provided: true
            id_risk_score: 0.08
            name_match: 0.92
            flags: []
      properties:
        name:
          type: string
          description: The name of the party who was expected to go through this verification
          example: John Smith
        legal_name:
          type: string
          description: The name as it appears on this person's government issued ID
          example: JONATHAN WINGATE SMITH
        email_address:
          type: string
          description: The email address that was provided to us for this individual
        phone_number:
          type: string
          description: 'The E164 compliant phone number for this individual, provided by the individual during verification'
          example: '+12125551234'
        status:
          type: string
          enum:
            - PASSED
            - PENDING
            - FAILED
          description: The current status of this verification.
        at:
          type: string
          description: The timestamp of when this verification occurred
        from:
          type: string
          description: Coarse location information for where this verification occured
          example: 'Red Bank, NJ USA'
        verification_details:
          type: object
          required:
            - mobile_provided
            - id_provided
          properties:
            mobile_provided:
              type: boolean
              description: Indicates if a mobile number was provided for verification
            mobile_risk_score:
              type: number
              minimum: 0
              maximum: 1
              description: 'If a mobile number was provided for verification, this is the risk assessment of that number (lower is better).'
            id_provided:
              type: boolean
              description: Indicates whether or not an ID was evaluated during the course of this verification
            id_risk_score:
              type: number
              minimum: 0
              maximum: 1
              description: 'If a government issued ID was provided for verification, this is the risk assessment of that evaluation (lower is better).'
            name_match:
              type: number
              description: A measure of how closely the name provided matched the name on the individuals government issued ID
              minimum: 0
              maximum: 1
              example: 0.89
            flags:
              type: array
              description: An optional list of flags that were triggered during the verification
              items:
                type: string
                example: Phone number is not associated with this individual
      required:
        - name
        - email_address
        - phone_number
        - status
        - at
        - from
        - verification_details
    MemberOptions:
      description: Parameters to customize the handling of member verifications.
      type: object
      x-examples:
        example-1:
          verifyConfirm: true
          updatesWebhook: 'https://webhooks.test/member_updates'
      properties:
        verifyConfirm:
          type: boolean
          default: false
        updatesWebhook:
          type: string
          minLength: 1
          example: 'https://webhooks.test/member_updates'
    CreateVerificationRequest:
      description: 'Defines the items to confirmed by the specified representative. If you don''t have bank instructions and want them to be provided, leave the `data` field of the `item` object null. If you already have the instructions and just want them to be confirmed they can be provided here in the `data` field of the `item`.'
      type: object
      x-examples:
        Request Bank Instructions:
          rep:
            name: Ellen Someperson
            emailAddress: ellen.someperson@acme.test
            phoneNumber: '+12125551234'
          items:
            - type: instructions
          metadata:
            internal_id: mock-123
      properties:
        rep:
          type: object
          description: The rep is the individual representing the items to be confirmed.
          required:
            - name
            - emailAddress
          properties:
            name:
              type: string
              example: Ellen Someperson
              description: |-
                The name of the individual representing the items to be confirmed. This will be evaluated against the information on their Gov't 
                Issued ID.
            emailAddress:
              type: string
              description: 'The email address of the representative, will be evaluated to ensure it''s associated with the individual who has provided a Gov''t Issued ID.'
              example: ellen.someperson@acme.test
            phoneNumber:
              type: string
              format: E.164
              example: '+12125551234'
              description: 'Provide a mobile number for the rep if you have one. Must be in E.164 format (https://en.wikipedia.org/wiki/E.164)'
        items:
          type: array
          uniqueItems: true
          minItems: 1
          description: The items the representative is being asked to confirm.
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - instructions
                  - email
                example: instructions
              data:
                type: string
            required:
              - type
        metadata:
          type: object
        webhookUrl:
          type: string
      required:
        - rep
        - items
  examples: {}
security:
  - api_key: []
tags:
  - name: Verification Requests
    description: Create and retrieve verification requests
