openapi: 3.0.2
info:
  version: 1.0.0
  title: Verify
  contact:
    email: eng@wirescure.com
    name: WireSecure Engineering
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://raw.githubusercontent.com/wiresecure/verify-api/main/openapi/web/logo.png'
  description: |
    This is an **example** API to demonstrate features of OpenAPI specification
    # Introduction
    This API definition is intended to to be a good starting point for describing your API in 
    [OpenAPI/Swagger format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).
    It also demonstrates features of [create-openapi-repo](https://github.com/Redocly/create-openapi-repo) tool and 
    [Redoc](https://github.com/Redocly/Redoc) documentation engine. So beyond the standard OpenAPI syntax we use a few 
    [vendor extensions](https://github.com/Redocly/Redoc/blob/master/docs/redoc-vendor-extensions.md).

    # OpenAPI Specification
    The goal of The OpenAPI Specification is to define a standard, language-agnostic interface to REST APIs which
    allows both humans and computers to discover and understand the capabilities of the service without access to source
    code, documentation, or through network traffic inspection. When properly defined via OpenAPI, a consumer can 
    understand and interact with the remote service with a minimal amount of implementation logic. Similar to what
    interfaces have done for lower-level programming, OpenAPI removes the guesswork in calling the service.
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
servers:
  - url: 'https://verify-api.wiresecure.com'
    description: PRODUCTION
  - url: 'https://verify-api-sandbox.wiresecure.com'
    description: SANDBOX
paths:
  /verify:
    $ref: 'paths/users@{username}.yaml'
    parameters: []
    post:
      summary: ''
      operationId: post-verify
      responses:
        '200':
          description: OK
      description: Create a request for wire instructions.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                emailAddress:
                  type: string
                phoneNumber:
                  type: string
                externalId:
                  type: string
              required:
                - name
                - emailAddress
            examples:
              example-1:
                value: {}
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
security:
  - api_key: []
tags:
  - name: Verify
